.card {
    margin-top: 0rem;
    background: var(--color-primary);
    background: linear-gradient(90deg, var(--color-primary) 0%, var(--color-primary-inner-gradient) 50%, var(--color-primary) 100%);
    min-width: 100%;
    font-family: 'Epilogue', sans-serif;
    font-size: 1.2rem;
    font-weight: 480;
    color: var(--color-text-dark);
}

h1 {
    font-family: 'Gluten', cursive;
    font-size: 3rem;
    font-weight: 500;
    margin: 1rem;
    line-height: 45px;
}