.main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    padding: 0rem;
    width: 100%;
    height: calc(100vh - 50px);
    padding-top: 1rem;
    line-height: 2rem;
    overflow: hidden;
}

.paw {
    height: 50px;
    filter: invert(18%) sepia(12%) saturate(362%) hue-rotate(182deg) brightness(87%) contrast(83%);
}

.img {
    margin: 1rem 0rem;
    max-width: 75%;
    max-height: 70vh;
    border: 2px solid #515152;
    box-shadow: 2px 5px 10px rgb(81, 81, 82, .6);
}


@media (max-width: 650px) {
    .main {
        padding: .6rem;
    }
}