.puppy {
    display: flex;
    align-items: center;
    margin-top: 3rem;
}

.puppy>div>img {
    max-width: 600px;
    max-height: 300px;
    border-radius: 1rem;
    border: 2px solid rgb(80, 81, 85);
    box-shadow: 0px 2px 10px rgb(61, 61, 61, .4);
}

.caption {
    padding: 2rem;
    text-align: justify;
}

@media (max-width: 1100px) {

    .puppy {
        flex-direction: column-reverse;
        margin: 1rem;
    }

    .puppy>img {
        max-width: 90%;
    }
}

@media (max-width: 760px) {

    .puppy>img {
        max-width: 500px;
    }

    .caption {
        text-align: left;
        padding: 0rem;
        padding-top: 1rem;
    }
}

@media (max-width: 590px) {

    .puppy>img {
        max-width: 85vw;
    }

    .caption {
        text-align: left;
        padding: 0rem;
        padding-top: 1rem;
        font-size: smaller;
        align-self: stretch;
    }
}