.genderIcon {
    filter: invert(18%) sepia(12%) saturate(362%) hue-rotate(182deg) brightness(87%) contrast(83%);
}

.range {
    font-style: italic;
}


.smallText {
    font-size: .8rem;
}

.genetics {
    font-size: .8rem;
    color: var(--color-text-link);
    cursor: pointer;
}

.genetics:hover {
    color: var(--color-text-link-hover);
    text-decoration: underline;
}


@media (max-width: 560px) {
    .smallText {
        line-height: 1rem;
    }
}