.puppy {
    display: flex;
    align-items: center;
    margin-top: 3rem;
    margin-right: 1rem;
    margin-left: 1rem;
}

.puppy>img {
    max-width: 600px;
    max-height: 300px;
    border-radius: 1rem;
    border: 2px solid rgb(80, 81, 85);
    box-shadow: 0px 2px 5px rgb(61, 61, 61, .4);

}

.caption {
    margin-right: 3rem;
    margin-left: 10rem;
    padding-left: 1rem;
    border-left: 2px solid grey;
    text-align: justify;
}

@media (max-width: 1100px) {

    .puppy {
        flex-direction: column-reverse;
        margin: 1rem;
    }

    .puppy>img {
        max-width: none;
        max-height: 500px;
    }

    .caption {
        margin-right: 0px;
        margin-left: 0px;
        padding-left: 0px;
        border-left: 0px;
        margin-top: 1rem;
    }
}

@media (max-width: 760px) {

    .puppy>img {
        max-width: 85vw;
    }

    .caption {
        text-align: left;
        padding: 0rem;
        padding-top: 1rem;
    }
}

@media (max-width: 590px) {


    .caption {
        text-align: left;
        padding: 0rem;
        padding-top: .5rem;
        font-size: smaller;
        align-self: stretch;
    }
}