.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: linear-gradient(90deg, #c0eaff 0%, rgb(232, 246, 255) 48%, #c0eaff 100%);
    box-shadow: -1px -1px 5px rgb(97, 95, 95, .4);
    padding: 2rem;
    line-height: 2rem;
}


@media (max-width: 650px) {
    .main {
        padding: .6rem;
    }
}