.profile {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.img {
    display: flex;
    max-width: 400px;
    height: auto;
    border-radius: 1rem;
    box-shadow: 0px 2px 5px var(--color-box-shadow);
}


.caption {
    padding-left: 3rem;
    text-align: justify;
    display: flex;
}

@media (max-width: 1100px) {

    .profile {
        flex-direction: column;
        margin: 1rem;
    }

    .img {
        max-width: none;
    }

    .caption {
        padding-left: 0rem;
        padding-top: 1rem;
    }
}

@media (max-width: 830px) {

    .img {
        max-width: none;
    }

    .caption {
        text-align: left;
        padding-top: 1rem;
    }
}

@media (max-width: 590px) {

    .img {
        max-width: 85vw;
    }

    .caption {
        text-align: left;
        padding: 0rem;
        padding-top: 1rem;
        font-size: smaller;
    }
}