.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem;
    line-height: 2rem;
    margin-top: 0px;
}

.copyright {
    margin-top: 5rem;
    font-size: smaller;
    color: var(--color-text-light);
}


@media (max-width: 650px) {
    .main {
        padding: .6rem;
    }
}