.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #d2f0ff;
    box-shadow: -1px -1px 5px rgb(97, 95, 95, .4);
    padding: 2rem;
    width: 100%;
    line-height: 2rem;
}


@media (max-width: 650px) {
    .main {
        padding: .6rem;
    }
}