figure {
    display: flex;
    align-items: center;
    margin-top: 3rem;
}

figure>img {
    max-width: 300px;
    border-radius: 1rem;
    border: 2px solid rgb(80, 81, 85);
    box-shadow: 0px 2px 10px rgb(61, 61, 61, .4);
}

figcaption {
    padding: 2rem;
    text-align: justify;
}

@media (max-width: 1000px) {

    figure {
        flex-direction: column;
        margin: 1rem;
    }

    figure>img {
        max-width: 90%;
    }
}

@media (max-width: 760px) {

    figure>img {
        max-width: 500px;
    }

    figcaption {
        text-align: left;
        padding: 0rem;
        padding-top: 1rem;
    }
}

@media (max-width: 590px) {

    figure>img {
        max-width: 85vw;
    }

    figcaption {
        text-align: left;
        padding: 0rem;
        padding-top: 1rem;
        font-size: smaller;
        align-self: stretch;
    }
}