nav {
    display: block;
    max-width: 1300px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    position: sticky;
    top: 0;
    border-bottom: 4px solid #616161;
}



ul {
    background: rgb(105, 205, 255);
    background: linear-gradient(90deg, rgba(105, 205, 255, 1) 0%, rgba(211, 238, 255, 1) 48%, rgba(105, 205, 255, 1) 100%);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 1.5rem;
    color: #ffffff;
    user-select: none;
    font-family: 'Markazi Text', serif;
    font-weight: 650;
    flex-grow: 1;
}


li {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: .5rem;
    color: rgb(3, 5, 27);
}

.active {
    background-color: #1565C0;
    color: white;
    transition: .6s;
}

.active:hover {
    color: white;
}

li:first-of-type {
    margin-right: auto;
}

li:last-of-type {
    margin-right: auto;
}

.burger {
    display: none;
    position: absolute;
    right: 10px;
    top: 7px;
}


li:hover {
    cursor: pointer;
    color: rgba(3, 5, 27, .6);
    font-weight: 500;
}

li:active {
    color: rgb(25, 35, 122);
}

@media (max-width: 1000px) {
    ul {
        flex-direction: column;
        height: auto;
        text-align: center;
    }

    li {
        padding-top: 5px;
        padding-bottom: 5px;
        padding-right: 5px;
        padding-left: 5px;
        margin-right: 0rem;
        color: #03051b;
        border-top: 1px solid rgb(53, 53, 53);
    }

    li:first-of-type {
        margin-right: 0;
    }

    .burger {
        display: block;
        border-top: none;
        filter: invert(3%) sepia(52%) saturate(4059%) hue-rotate(231deg) brightness(99%) contrast(104%);
    }

    li:last-of-type {
        margin-right: 0;
    }
}