nav {
    display: block;
    max-width: fit-content;
    margin-right: auto;
    margin-left: auto;
}

ul {
    background-color: #81D4FA;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 1.5rem;
    color: #ffffff;
    -webkit-box-shadow: 0px 5px 8px -2px rgba(0, 0, 0, 0.37);
    box-shadow: 0px 5px 8px -2px rgba(0, 0, 0, 0.37);
    user-select: none;
    font-family: 'Markazi Text', serif;
    font-weight: 650;
}

li {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 7px;
    padding-left: 7px;
    margin-right: .5rem;
    color: rgb(3, 5, 27);
}

li:last-child {
    margin-right: 0rem;
}

li:hover {
    cursor: pointer;
    color: white;
}

li:active {
    color: rgb(25, 35, 122);
}