nav {
    display: block;
    width: 100%;
    height: 50px;
    position: relative;
    position: sticky;
    z-index: 1;
    top: 0;
    background: #ffb35c;
    background: linear-gradient(90deg, #ffb35c 0%, #fffecb 48%, #ffb35c 100%);
    border-bottom: 2px solid #515152;
    border-top: 2px solid #515152;
}

ul {
    display: flex;
    justify-content: center;
    background: #ffb35c;
    background: linear-gradient(90deg, #ffb35c 0%, #fffecb 48%, #ffb35c 100%);
    border-bottom: 2px solid #515152;
}

li {
    font-size: 1.5rem;
    color: #ffffff;
    user-select: none;
    font-family: 'Markazi Text', serif;
    font-weight: 650;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 13px;
    padding-left: 13px;
    color: rgb(3, 5, 27);
}




.home:hover {
    cursor: pointer;
    color: white;
}

.inactive:hover {
    cursor: pointer;
    color: white;
    background-color: #515152;
}


li:first-of-type {
    margin-right: auto;
}

li:last-of-type {
    margin-right: auto;
}

.active {
    background-color: #515152;
    color: white;
}


.burger {
    display: none;
    position: absolute;
    right: 10px;
    top: 7px;
}

.burger:hover {
    transform: scale(1.05);
    transition: transform .5s;
}



@media (max-width: 1070px) {
    nav {
        height: 42px;
    }

    ul {
        flex-direction: column;
        height: auto;
        text-align: center;
        border-top: none;
    }

    li {
        padding-top: 5px;
        padding-bottom: 5px;
        padding-right: 5px;
        padding-left: 5px;
        margin-right: 0rem;
        color: #03051b;
        border-top: 1px solid rgb(53, 53, 53);
    }

    li:first-of-type {
        margin-right: 0;
    }

    li:last-of-type {
        margin-right: 0;
    }

    .burger {
        display: block;
        border-top: none;
        filter: invert(31%) sepia(0%) saturate(2241%) hue-rotate(284deg) brightness(90%) contrast(83%);
    }

    .home:hover {
        cursor: pointer;
        color: white;
        background-color: #515152;
    }

}