.button {
    font-family: 'Epilogue', sans-serif;
    font-weight: 450;
    font-size: 1.2rem;
    padding-top: .7rem;
    padding-bottom: .4rem;
    padding-right: 5rem;
    padding-left: 5rem;
    margin: .5rem;
    border-radius: .3rem;
    background-color: var(--color-primary-alt);
    border: none;
    color: var(--color-text-dark);
    align-self: center;
    user-select: none;
    box-shadow: 2px 2px 3px var(--color-box-shadow);
}

.button:hover {
    font-weight: 600;
    background-color: var(--color-primary-alt-lighter);
    cursor: pointer;
}

.button:active {
    box-shadow: 0px 0px 3px var(--color-box-shadow);
    transform: translateX(2px) translateY(2px);
}

@media (max-width: 585px) {
    .button {
        font-size: .9rem;
    }
}

@media (max-width: 490px) {
    .button {
        padding-top: .5rem;
        padding-bottom: .3rem;
        padding-right: 3rem;
        padding-left: 3rem;
    }
}