.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.line {
    margin-top: .5rem;
    border-bottom: 1px solid rgb(78, 82, 88, .6);
    width: 25%;
    box-shadow: 2px 1px 7px rgb(107, 106, 106, .4);
    border-radius: 50%
}